body {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  font-family: 'Riffic', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

app-root {
  height: 100%;
  width: 100%;
  display: block;
}

a {
  background: var(--color-radial-active);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  text-decoration: underline;
  text-decoration-color: #EFFB63;
  cursor: pointer;
}

