body {
  --background-color: #0d0d0d;
  --card-background-color: #161616;
  --color-white: #ffffff;
  --color-secondary: #5B5B5B;
  --card-background-color-secondary: #242424;
  --color-btn: #242424;
  --color-radial-active: radial-gradient(circle, #EFFB63 0%, #A1EB50 100%);
}
