@use "../landing-blocks.component";

.country {
  width: 168px;
  height: 90px;
  background: url("../../../../assets/images/landing-cards/third-card.svg");
  position: relative;

  &__icon {
    position: absolute;
    right: 6px;
    top: -6px;
    transform: rotate(-1deg);
  }

  &__title-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 9px;
    left: 11px;

    .country__title {
      transform: rotate(358deg);

      &--bottom {
        position: absolute;
        left: 47px;
        top: 10px;
        transform: rotate(355deg);
      }
    }
  }

  &__description {
    position: absolute;
    bottom: 10px;
    left: 16px;

    &--top {
      margin-left: -5px;
      margin-bottom: 1px;
      transform: rotate(1deg);
      letter-spacing: 0.6px;
    }

    &--commission {
      margin-left: 59px;
    }

    &--bottom {
      margin-left: 18px;
      margin-bottom: -2px;
    }
  }
}
