<div class="country">
  <div class="country__title-wrapper">
    <span class="landing-card__title country__title">Любая</span>
    <span class="landing-card__title country__title--bottom">страна</span>
  </div>

  <div class="country__icon landing-card__icon">
    <img src="assets/icons/geo.svg">
  </div>
  <div class="country__description">
    <p class="landing-card__description country__description--top">
      Пополнение Steam
    </p>
    <p class="landing-card__description country__description--commission">
      одинаково для
    </p>
    <p class="landing-card__description country__description--bottom">
      <b>ВСЕХ</b> регионов
    </p>
  </div>
</div>
