<div class="refill">
  <div class="refill__title-wrapper">
    <span class="landing-card__title refill__title">Пополняем</span>
    <span class="landing-card__title refill__title--bottom">вещами</span>
  </div>

  <div class="refill__icon landing-card__icon">
    <img src="assets/icons/refill-icon.svg">
  </div>
  <div class="refill__description">
    <p class="landing-card__description refill__description--top">
      Ждать не нужно!
    </p>
    <p class="landing-card__description refill__description--commission">
      Комиссию Steam
    </p>
    <p class="landing-card__description refill__description--bottom">
      Покрываем <b>МЫ</b>
    </p>
  </div>
</div>
