:host {
  padding: 10px;
  display: flex;
  gap: 2px;
  background-color: var(--color-btn);
  color: var(--color-white);
  align-items: center;
  justify-content: center;
  line-height: 24px;
  font-size: 20px;
  letter-spacing: -0.2px;
  cursor: pointer;
}
