<div class="safety">
  <div class="safety__title-wrapper">
    <span class="landing-card__title safety__title">Полная</span>
    <span class="landing-card__title safety__title--bottom">безопасность</span>
  </div>

  <div class="safety__icon landing-card__icon">
    <img src="assets/icons/safety.svg">
  </div>
  <div class="safety__description">
    <p class="landing-card__description safety__description--top">
      Способ, не нарушает
    </p>
    <p class="landing-card__description safety__description--commission">
      правила Steam
    </p>
    <p class="landing-card__description safety__description--bottom">
      <b>Без БАНА</b>
    </p>
  </div>
</div>
