@use "../landing-blocks.component";

.safety {
  width: 174px;
  height: 90px;
  background: url("../../../../assets/images/landing-cards/fourth-card.svg");
  margin-left: -3px;
  overflow: visible;
  position: relative;

  &__icon {
    position: absolute;
    right: 9px;
    top: -6px;
    transform: rotate(-1deg);
  }

  &__title-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 7px;
    left: 13px;

    .safety__title {
      transform: rotate(362deg);
      margin-left: 1px;

      &--bottom {
        position: absolute;
        top: 16px;
        transform: rotate(356deg);
      }
    }
  }

  &__description {
    position: absolute;
    bottom: 10px;
    left: 16px;

    &--top {
      margin-left: 15px;
      transform: rotate(363deg);
      letter-spacing: 0.6px;
    }

    &--commission {
      margin-left: -5px;
      margin-bottom: -3px;
    }

    &--bottom {
      margin-left: 86px;
      margin-bottom: -2px;
      transform: rotate(355deg);
      letter-spacing: 1.3px;
    }
  }
}
