<div class="slider">
  <div class="slider__line">
    <div class="slider__left-arrow">
      <img src="assets/icons/left-arrow.svg">
    </div>
    <div class="slider__line--common">
      <div class="slider__line--active">
        <div class="slider__line__left-border"></div>
        <div class="slider__line__right-border">
          <div class="slider__line__sum">
            1000 RUB
          </div>
        </div>
      </div>
    </div>
    <div class="slider__right-arrow">
      <img src="assets/icons/right-arrow.svg">
    </div>
  </div>
  <div class="slider__sums">
      <span class="slider__sum">
          {{ leftBorder }} RUB
      </span>
    <span class="slider__sum">
          {{ rightBorder }} RUB
      </span>
  </div>
</div>
