:host {
  padding: 20px 10px 10px 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 722px;
  height: 803px;
}

.info-cards {
  display: grid;
  grid-template-columns: minmax(355px, 1fr) minmax(335px, 1fr);
  gap: 12px;
}

.info-bottom {
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  color: var(--color-secondary);
  letter-spacing: 0.7px;
}
