.right-btn {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  cursor: pointer;

  &__text {
    color: var(--color-secondary);
    letter-spacing: -0.6px;
  }
}

.card-input__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
