@font-face {
  font-family: 'Riffic';
  src: url('riffic-medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Riffic';
  src: url('riffic-bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Riffic Black';
  src: url('riffic-black.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Riffic';
  src: url('riffic-light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Riffic Book';
  src: url('riffic-book.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Riffic';
  src: url('riffic-semibold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Riffic';
  src: url('riffic-ultrabold.ttf') format('truetype');
  font-weight: 800;
  font-display: swap;
}
